:root{
    --borde: 15px;
    --size-teclas: 130px;
}

*{
    border-radius: var(--borde);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor-calculadora{
    width: 600px;
    height: fit-content;
    background-color: #FFDE9F;
    border-radius: var(--borde);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.4);
}



.pantalla{
    background-color: gray;
    width: 100%;
    height: 190px;
    box-shadow: inset 7px 7px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

#entrada{
    font-size: 50px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}




.contenedor-teclas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.tecla{
    width: var(--size-teclas);
    height: var(--size-teclas);
    background-color: #3AD0FF;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
    border-style: none;
}
.tecla:hover{
    transition-duration: 150ms;
    transform: translate(4px, 4px);
    box-shadow: 3px 3px 0px  rgba(0, 0, 0, 0.3);
    filter: brightness(85%);
}

.tecla:active{

    transition-duration: 150ms;
    transform: translate(7px, 7px);
    box-shadow: 0px 0px 0px  rgba(0, 0, 0, 0.3);
    filter: brightness(60%);
}

.letra{
    font-size: 70px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

